<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>MAIL FORM</nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" placeholder="Project" class="form-control"/>
        </div>
        
        <div class="input-group has-person-icon">
          <input type="text" placeholder="Your Full Name" class="form-control"/>
        </div>
        <div class="input-group">
          <input type="text" placeholder="Your Email" class="form-control" disabled/>
        </div>
        <div class="input-group">
          <textarea rows="5" placeholder="Your Message" class="form-control"></textarea>
        </div>
        
      </nb-card-body>
    </nb-card>


    
  </div>
</div>
